.glass-card {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.5rem;
  transition: transform 0.3s ease;
}

.glass-card:hover {
  transform: translateY(-5px);
}

.text-gradient {
  background: linear-gradient(to right, #0dcaf0, #6f42c1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.btn-gradient {
  background: linear-gradient(45deg, #198754, #0d6efd);
  color: white;
  border: none;
  transition: 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(45deg, #0d6efd, #198754);
  transform: scale(1.05);
}
