<nav class="navbar navbar-expand-lg bg-transparent shadow-lg px-4 py-3 glassmorphic-nav">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-4 text-gradient d-flex align-items-center" href="">
      <i class="bi bi-stars me-2 fs-4"></i> Event Portal
    </a>

    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-2 text-center">
       
<li class="nav-item">
  <a class="nav-link nav-glow" href="/register-user/organizer" routerLinkActive="active">
    <i class="bi bi-journal-text me-1"></i> Register
  </a>
</li>
<li class="nav-item">
  <a class="nav-link nav-glow" href="/login" routerLinkActive="active">
    <i class="bi bi-journal-text me-1"></i> Login
  </a>
</li>
      </ul>
    </div>
  </div>
</nav>


<form (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>
<h2>Login to EventPro</h2>
  
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      required
      minlength="8"
      pattern="^[^\s]+$"
      #usernameInput="ngModel"
      placeholder="Enter username"
    />
    <div class="error" *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
      <div *ngIf="usernameInput.errors?.['required']">Username is required.</div>
      <div *ngIf="usernameInput.errors?.['minlength']">Minimum 8 characters.</div>
      <div *ngIf="usernameInput.errors?.['pattern']">No spaces allowed.</div>
    </div>
  </div>

  
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      required
      minlength="8"
      pattern="^(?=.*\d).{8,}$"
      #passwordInput="ngModel"
      placeholder="Enter password"
    />
    <div class="error" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
      <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
      <div *ngIf="passwordInput.errors?.['minlength']">Minimum 8 characters.</div>
      <div *ngIf="passwordInput.errors?.['pattern']">Must contain at least one number.</div>
    </div>
  </div>

  
  <p class="forgot-text">
    <a href="/fpassword" class="forgot-link">Forgot Password?</a>
  </p>

  
  <button type="submit" [disabled]="loginForm.invalid">Login</button>

  
  <p class="register-text">
    Don't have an account?
    <a href="/register-user/organizer" class="register-link">Register here</a>
  </p>
</form>
